{{ $image := "" -}}
{{ $isAbs := false }}
{{ $originImage := .Destination }}
{{ if (urls.Parse .Destination).IsAbs }}
  {{ $image = resources.GetRemote .Destination -}}
  {{ $isAbs = true }}
{{ else -}}
  {{ $image = .Page.Resources.GetMatch .Destination -}}
{{ end -}}
{{ with $image -}}
  {{ $lqip := $image.Resize site.Params.lqipWidth -}}

  {{ $imgSrc := "" -}}
  {{ $imgSrcSet := slice -}}

  {{ $widths := site.Params.landscapePhotoWidths -}}
  {{ if gt $image.Height $image.Width -}}
    {{ $widths = site.Params.portraitPhotoWidths -}}
  {{ end -}}

  {{ if site.Params.responsive -}}
    {{ range $widths -}}
      {{ $srcUrl := (printf "%dx" . | $image.Resize).Permalink -}}
      {{ if eq $imgSrc "" -}}{{ $imgSrc = $srcUrl -}}{{ end -}}
      {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
    {{ end -}}
    {{ $imgSrcSet = (delimit $imgSrcSet ",") -}}
  {{ end -}}

  {{ if gt $image.Width site.Params.smallLimit -}}
    <figure class="figure">
      <img class="figure-img img-fluid lazyload blur-up" data-sizes="auto" src="{{ $lqip.Permalink }}"
      {{ if $isAbs }}
        data-src="{{ $originImage }}"
      {{ else }}
        data-src="{{ $image.Permalink }}"
      {{ end }}
      {{ if site.Params.responsive -}}
        data-srcset="{{ $imgSrcSet }}"
      {{ end -}}
      width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $.Text }}">
      <noscript><img class="figure-img img-fluid" sizes="100vw" srcset="{{ $imgSrcSet }}" src="{{ $image.Permalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ $.Text }}"></noscript>
      {{ with $.Text }}<figcaption class="figure-caption">{{ . | safeHTML }}</figcaption>{{ end -}}
    </figure>
  {{ else -}}
    <img src="{{ $originImage }}" alt="{{ $.Text }}">
  {{ end -}}
{{ else -}}
  {{ erroridf "image-not-found" "Image not found" -}}
{{ end -}}
