table {
 @extend .table;
 margin: 0;
}

@media print {
 .table-container {
 display: block; /* 需要将容器设为块级 */
 max-height: 100%; /* 固定高度 */
 column-count: 2; /* 分为两列 */
 column-gap: 20px; /* 列之间的间距 */
 overflow: hidden; /* 防止内容超出容器 */
 }
}
