{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}五十音/饼干老师五十音/" role="button">从零开始</a>
      <p class="meta"><a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0 Licensed.</a> <a href="https://github.com/harborzeng/tellyou-nihongo">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">学习日语的笔记</h2>
        <p>包括《新版标准日本语》主流教科书的学习笔记。文档化，方便查阅，考前复习。</p>
      </div>
       <div class="col-lg-5">
        <h2 class="h4">学习日语的文章</h2>
        <p>讲述学习日语的初衷、心路历程、目的等。。。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">考前复习</h2>
        <p>从N5到N1的语法解释及例句大全</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">故事分享</h2>
        <p>分享学习日语的过程终遇到的好玩的事情</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">动漫影视</h2>
        <p>从动漫影视中学习语法</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">单词语法对比学习</h2>
        <p>通过对比近似单词的不同用法，相似语法的细微差别，学到正宗的日语精髓</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
